<!DOCTYPE html>
 <html>
  <head>

    <!-- Siesta CSS e.g. siesta-all.css-->
    <link rel="stylesheet" type="text/css" href="[PATH_TO_SIESTA_ALL.CSS]">

    <!-- Siesta application e.g. siesta-all.js -->
    <script type="text/javascript" src="[PATH_TO_SIESTA_ALL.JS]"></script>

    <!-- The test harness -->
    <script type="text/javascript" src="tests.config.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body></body>
 </html>