var conjoon = conjoon || {};
conjoon.tests = conjoon.tests || {};
conjoon.tests.config = conjoon.tests.config || {};


conjoon.tests.config.paths = {
    extjs : {
        js : {
            url : "[PATH_TO_EXT_ALL.JS]" /*Your path to your ExtJS distribution (e.g. ext-all-debug.js) */
        },
        css : {
            url : "[PATH_TO_EXT_THEME.JS]" /*Your path to an ExtJS theme, preferably Triton Theme */
        }
    }
}


